* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: BYekan, sans-serif;
}

/* :root {
  --bg-light: #e5e5e5;
  --text-light: #171717;
  --bg-dark: #0f172a;
  --text-dark: #dbeafe;
} */

/* .dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);

  transition: all ease 1s;
  transform-origin: top left;
}

.light {
  background-color: var(--bg-light);
  color: var(--text-light);
  transition: all ease 1s;
  transform-origin: top left;
} */

/* html,
body {
  min-height: 100dvh;
} */

/* body {
  margin-bottom: 32px !important;
} */

/*! Tranisition */
.slide-fade-enter-active {
    transition: all 0.6s ease-in;
}

.slide-fade-leave-active {
    transition: all 0.1s ease-in;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    /* transform: translateX(20px); */
    opacity: 0;
}

.myhover > div {
    box-shadow: 0 0 20px #5245e562;
    transition: 300ms;
}
